@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Merriweather:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;  
}

body{
    font-family: Merriweather, sans-serif;
    font-weight: 300;
}

    /* Heading and logo */

h1 {
    margin-top: 50px;
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    text-decoration: none;

}

#logo   {
    text-align: center;
    font-size: 280%;
    margin-left: 30px;
}
    /* nav links */

#menu {
        font-size: 100%;
        letter-spacing: 4px;
        padding: 20px;
        text-align: center;
        
}


#menu li {
    display: inline-block;
    margin: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a ;
}


    /*  Banner image and text */

#banner-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,  #cover-text h2 {
    color:#fafafa; 
}

#banner-image {
    height: 600px;
    width: 100%;
    background: url('../images/banner.jpg') no-repeat center center;
    

    /* animates the ilusion */
animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards ; 
}

    /* illusion immage */

@keyframes hero-zoom   {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;    
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    left: 50px;

    position: absolute;

}
    /*Home page content */
.home-page {
    margin: 0 10px 0 50px;
}

.home-page  li{
    margin: 0 100px 0 70px;
}

.home-body {
    font-family: Merriweather, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin: 40px 0 20px 0;
}

.spacing  li{
    margin: 0 0 15px 0;
}
.video-size {
    height: 50%;
    width: 50%;
}
    /* Main page content */

.main  h2{
    text-align: center;
}

.main  div {
    padding: 30px 0 20px 0;
    display: flex;
    justify-content: center;
}
    /* Link page content */
#pages {
    /*background-image: url("#");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

#pages a:hover{
    border-bottom: 1px solid #3a3a3a ;
}

.letters {
    color: white;
    text-align: center;
    padding: 120px 120px;
}
#pages div {
    background-color: rgba(0, 0, 0, .6);
    width: 33.2%;
    height: 300px;
    display: inline-block;
    border-left: 5px solid white;
    border-right: 5px solid white;
    box-sizing: border-box;
}

#pages div h2{
    color: #fafafa;
    text-align: center;
    padding: 120px 120px;
}

    /* Footer Content */

.socials {
    background-color: #D0D6DA;
    text-align: center;
}
.socials > li {
    display: inline;
}

.socials i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #3a3a3a;
}

/* media queiris  1200px*/

@media screen and (max-width: 1200px ) {

    #pages > div{
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
        text-align: left;
        margin-bottom: 4px;
   }
}


/* for medium size screens 900px*/

@media screen and (max-width: 950px) {

    #cover-text {
        left: 0;
}
}